<div class="row">
    <div class="col-md-4">
        <h3>Seleccione archivos</h3>
        <div appNgDropFiles [archivosDirectiva]="archivosCarga" (mouseSobre)="sobreElemento($event)" [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
            <h4>Deje caer aqui los archivos</h4>
            <img src="assets/drop-images.png" alt="">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Cargar archivos</h4>
        <button (click)="cargarImagenes()" [disabled]="archivosCarga.length == 0 || subiendo" class="btn btn-outline-success">Cargar a Firebase</button>
        <button (click)="limpiarArchivos()" class="btn btn-outline-danger">Limpiar</button>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre archivo</th>
                    <th>Tamaño</th>
                    <th>Progeso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivosCarga">
                    <td [ngClass]="{'text-green': archivo.progreso >= 100}">
                        {{archivo.nombreArchivo}}
                    </td>
                    <td>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>